ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 60%;
  padding: 10px;

  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.label {
  display: inline-block;
  width: 5%;
  margin-left: 5%;
  font-size: 16pt;
}
